<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBTDM</string>
	<key>CFBundleGetInfoString</key>
	<string>489.60.3, Copyright © 2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBTDM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBTDM</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>489.60.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>489.60.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392v</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19C49</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392v</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleTDMAKS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMAKSDriver</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>31</integer>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Product Identification</key>
			<string>TDM AKS</string>
			<key>Vendor Identification</key>
			<string>APPLE</string>
		</dict>
		<key>AppleTDMAKSServices</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMAKSServices</string>
			<key>IOProviderClass</key>
			<string>AppleTDMAKSDriver</string>
		</dict>
		<key>AppleTDMControlLUN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMControlLUN</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>31</integer>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Product Identification</key>
			<string>TDM Control</string>
			<key>Vendor Identification</key>
			<string>APPLE</string>
		</dict>
		<key>AppleTDMEffaceableLUN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMEffaceableNORDriver</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>31</integer>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Product Identification</key>
			<string>TDM EFCBL NOR</string>
			<key>Vendor Identification</key>
			<string>APPLE</string>
		</dict>
		<key>AppleTDMType00_Mk1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSILogicalUnitNub</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Product Identification</key>
			<string>Target Disk Mode</string>
			<key>Vendor Identification</key>
			<string>APPLE</string>
		</dict>
		<key>AppleTDMType00_Mk2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleTDMType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIHierarchicalLogicalUnit</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Product Identification</key>
			<string>Target Disk Mode</string>
			<key>SCSI Device Characteristics</key>
			<dict>
				<key>Autonomous Spin Down</key>
				<string>true</string>
			</dict>
			<key>Vendor Identification</key>
			<string>APPLE</string>
		</dict>
		<key>AppleUSBTDMMassStorage_Lifeboat</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>IOClass</key>
			<string>AppleUSBTDMMassStorageClass</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<key>IOBundleResourceFile</key>
				<string>USBHD.icns</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBMassStorageDriverNub</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Read Time Out Duration</key>
			<integer>30000</integer>
			<key>SCSI Device Characteristics</key>
			<dict>
				<key>IOMaximumByteCountRead</key>
				<integer>1048576</integer>
				<key>IOMaximumByteCountWrite</key>
				<integer>1048576</integer>
			</dict>
			<key>USB Mass Storage Characteristics</key>
			<dict>
				<key>Max Logical Unit Number</key>
				<integer>0</integer>
				<key>Preferred Protocol</key>
				<integer>80</integer>
				<key>Preferred Subclass</key>
				<integer>6</integer>
				<key>Use Standard USB Reset</key>
				<string>true</string>
			</dict>
			<key>Write Time Out Duration</key>
			<integer>30000</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>34304</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleUSBTDMMassStorage_Mk1</key>
		<dict>
			<key>Apple TDM Driver</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTDM</string>
			<key>Force Write Cache Enable</key>
			<true/>
			<key>IOClass</key>
			<string>AppleUSBTDMMassStorageClass</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<key>IOBundleResourceFile</key>
				<string>USBHD.icns</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBMassStorageDriverNub</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Read Time Out Duration</key>
			<integer>30000</integer>
			<key>SCSI Device Characteristics</key>
			<dict>
				<key>IOMaximumByteCountRead</key>
				<integer>1048576</integer>
				<key>IOMaximumByteCountWrite</key>
				<integer>1048576</integer>
			</dict>
			<key>USB Mass Storage Characteristics</key>
			<dict>
				<key>Max Logical Unit Number</key>
				<integer>0</integer>
				<key>Preferred Protocol</key>
				<integer>80</integer>
				<key>Preferred Subclass</key>
				<integer>6</integer>
				<key>Use Standard USB Reset</key>
				<string>true</string>
			</dict>
			<key>Write Time Out Duration</key>
			<integer>30000</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6144</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>IOUSBMassStorageDriverNub_TDM_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOUSBMassStorageDriver</string>
			<key>IOClass</key>
			<string>IOUSBMassStorageDriverNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBMassStorageInterfaceNub</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>USB Storage Characteristics</key>
			<dict>
				<key>bInterfaceProtocol</key>
				<integer>80</integer>
			</dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6144</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>IOUSBMassStorageInterfaceNub_TDM_Personality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOUSBMassStorageDriver</string>
			<key>IOClass</key>
			<string>IOUSBMassStorageInterfaceNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6144</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMobileFileIntegrity</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>2.1.0</string>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>2.1.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.5.6</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOUSBMassStorageDriver</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
