<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBODD</string>
	<key>CFBundleGetInfoString</key>
	<string>489.60.3, Copyright Apple Inc. 2007-2016</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBODD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBODD</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>489.60.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>489.60.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392v</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19C49</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392v</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBODD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBODD</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBODD</string>
			<key>IOProviderClass</key>
			<string>IOUSBMassStorageDriverNub</string>
			<key>Physical Interconnect</key>
			<string>USB</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Read Time Out Duration</key>
			<integer>30000</integer>
			<key>Write Time Out Duration</key>
			<integer>30000</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5376</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleUSBODDType05</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBODD</string>
			<key>IOClass</key>
			<string>com_apple_driver_AppleUSBODDType05</string>
			<key>IOProviderClass</key>
			<string>IOSCSILogicalUnitNub</string>
			<key>Peripheral Device Type</key>
			<integer>5</integer>
			<key>SCSI Device Characteristics</key>
			<dict>
				<key>Do Not Prevent Medium Removal</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSCSIMultimediaCommandsDevice</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOUSBMassStorageDriver</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
