<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>489.60.3, Copyright Apple Inc. 2002-2016</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.SCSIDeviceSpecifics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SCSIDeviceSpecifics</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>489.60.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>489.60.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392v</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19C49</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392v</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASM236XSeries</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>ASM236X NVME</string>
			<key>Vendor Identification</key>
			<string>ASMT</string>
		</dict>
		<key>Minipro</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Minipro USB-C</string>
			<key>Vendor Identification</key>
			<string>Oyen</string>
		</dict>
		<key>PromisePegasus2UnmapSupport_M4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus2 M4</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus2UnmapSupport_R4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus2 R4</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus2UnmapSupport_R6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus2 R6</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus2UnmapSupport_R8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus2 R8</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus3UnmapSupport_R4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus3 R4</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus3UnmapSupport_R6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus3 R6</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
		<key>PromisePegasus3UnmapSupport_R8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOSCSIBlockCommandsDevice</string>
			<key>IOClass</key>
			<string>IOSCSIPeripheralDeviceType00</string>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOStorageFeatures</key>
			<dict>
				<key>UnmapCapable</key>
				<true/>
			</dict>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Pegasus3 R8</string>
			<key>Vendor Identification</key>
			<string>Promise</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
