<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMobileDevice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMobileDevice</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M244j</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17A405</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M244j</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIPhonePropertyMerge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMerge2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4768</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMerge2Legacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>99999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4768</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMerge3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4784</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMerge3Legacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>99999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4784</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMergeLegacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>99999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>3</integer>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMergeiBridge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>34304</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleIPhonePropertyMergeiBridgeLegacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOMatchCategory</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>99999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>SupportsIPhoneOS</key>
				<true/>
				<key>kCallInterfaceOpenWithGate</key>
				<true/>
			</dict>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>34304</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDevice2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4768</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDevice3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4784</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDeviceLegacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDeviceLegacy2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4768</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleMobileDeviceLegacy3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4784</integer>
			<key>idProductMask</key>
			<integer>65520</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
